*{

    font-family: serif;
}

#start { 
    background-color: green; 
}

#stop { 
    background-color: red; 
}
#atgc {
    background: rgba(0,0,0,0.4);
    color: #fff;
    border-width: 0.25px !important;
    border-color: darkgrey !important;
    font-size: xx-small;
}