{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Sequence Index</h1>
<header class=" mb-5 container mx-auto ">
    <img src="{{ url_for('static', filename='../static/images/header.jpeg')}}" alt="fancy genes"
      width="100%" height="400px" class="rounded-5 shadow-lg object-fit-cover ">
  </header>

  <section class="container mx-auto">

   
    <div class="row fs-5">
      <div class="col">
        <p><ul><li>DNA to RNA</li>
        <li>Protein Translation</li>
        <li>GC Content</li>
        <li>PCR Fusion temperature</li>
        <li>ToCome: Motif Localization</li></ul></p>
      </div>
      <div class="col">
        <p>Gene Database for Users
        </p>
        
      </div>
      <div class="col">
        <p>Hopefully more functionality in the future</p>
      </div>
  
    </div>
    </section>
  
  {% endblock %}
  