{% extends 'base.html' %}

{% block title %} Login {% endblock %}

<!-- main content -->

{% block main_content %}
    <section class="mx-auto row" style="max-height: 100vh;">
        <div class="col p-4">
            <h1 class="text-center">Login</h1>
        <form action="" method="post" class="w-50 mx-auto ">
            {{ form.csrf_token }}

            <div class="mt-3">
                {{ form.username.label(class='form-label ') }}
                {{ form.username(class='form-control ') }}
            </div>


            <div class="mt-3">
                {{ form.password.label(class='form-label ') }}
                {{ form.password(class='form-control ') }}
            </div>

            <div class="mt-3">
                {{ form.remember_me(class='form-check-input', id='remember') }}
                {{ form.remember_me.label(class='form-check-label ', for='remember') }}
            </div>


            <div class="mt-3">
                {{ form.submit(class='btn btn-primary w-100') }}
            </div>
            {% endblock %}
        </form>
        </div>
       
        </div>
    </section>